<div style="display:flex">
    <img style="height:70px; padding:15px;" src="https://checkout.postfinance.ch/resource/web/image/payment/card-brand/mastercard.svg" alt="Master Card" title="Master Card">
    <img style="height:70px; padding:15px;" src="https://checkout.postfinance.ch/resource/web/image/payment/card-brand/postfinance-card.svg" alt="PostFinance Card" title="PostFinance Card">
    <img style="height:70px; padding:15px;" src="https://checkout.postfinance.ch/resource/web/image/payment/online-banking/postfinance-e-finance.svg" alt="PostFinance e-Finance Card" title="PostFinance e-Finance Card">
    <img style="height:70px; padding:15px;" src="https://checkout.postfinance.ch/resource/web/image/payment/method/twint.svg" alt="Twint" title="Twint">
    <img style="height:70px; padding:15px;" src="https://checkout.postfinance.ch/resource/web/image/payment/card-brand/visa.svg" alt="Visa" title="Visa">
</div>